//Color-Variable
$white: #fff;
$black: #000;
$lgblack: #656565;
$red: #f00;
$gray: #f5f5f5;
$bg_color: #fafafa;
$lightPurple: #edf2f8;
$yellow: #f89c13;
$border: #dcdcdc;

$fontPath: '../fonts';
